[
	{kernel, [
		{inet_dist_listen_max, 7999},
		{inet_dist_listen_min, 6000}
	]},
	{lager, [
		{crash_log, "/var/log/riak/crash.log"},
		{crash_log_count, 5},
		{crash_log_date, "$D0"},
		{crash_log_msg_size, 65536},
		{crash_log_size, 10485760},
		{error_logger_hwm, 100},
		{error_logger_redirect, true},
		{handlers, [
			{lager_file_backend, [
				{"/var/log/riak/error.log", error, 10485760, "$D0", 5},
				{"/var/log/riak/console.log", info, 10485760, "$D0", 5}
			]}
		]}
	]},
	{merge_index, [
		{buffer_rollover_size, 1048576},
		{data_root, "/var/lib/riak/merge_index"},
		{max_compact_segments, 20}
	]},
	{riak_api, [
		{pb, [
			{"127.0.0.1", 8087}
		]},
		{pb_ip, "0.0.0.0"}
	]},
	{riak_control, [
		{admin, true},
		{auth, userlist},
		{enabled, false},
		{userlist, [
			{"user", "pass"}
		]}
	]},
	{riak_core, [
		{cluster_mgr, {"127.0.0.1", 9085}},
		{default_bucket_props, [
			{allow_mult, true}
		]},
		{dtrace_support, false},
		{handoff_port, 8099},
		{http, [
			{"0.0.0.0", 8098}
		]},
		{platform_bin_dir, "/usr/sbin"},
		{platform_data_dir, "/var/lib/riak"},
		{platform_etc_dir, "/etc/riak"},
		{platform_lib_dir, "/usr/lib/riak"},
		{platform_log_dir, "/var/log/riak"},
		{ring_creation_size, 64},
		{ring_state_dir, "/var/lib/riak/ring"}
	]},
	{riak_jmx, [
		{enabled, false}
	]},
	{riak_kv, [
		{add_paths, [
			"/usr/lib/riak-cs/lib/riak_cs-1.4.2/ebin"
		]},
		{anti_entropy, {on, [
			]}},
		{anti_entropy_build_limit, {1, 3600000}},
		{anti_entropy_concurrency, 2},
		{anti_entropy_data_dir, "/var/lib/riak/anti_entropy"},
		{anti_entropy_expire, 604800000},
		{anti_entropy_leveldb_opts, [
			{write_buffer_size, 4194304},
			{max_open_files, 20}
		]},
		{anti_entropy_tick, 15000},
		{fsm_limit, 50000},
		{hook_js_vm_count, 2},
		{http_url_encoding, on},
		{js_max_vm_mem, 8},
		{js_thread_stack, 16},
		{listkeys_backpressure, true},
		{map_js_vm_count, 8},
		{mapred_2i_pipe, true},
		{mapred_name, "mapred"},
		{multi_backend, [
			{be_default, riak_kv_eleveldb_backend, [
					{data_root, "/var/lib/riak/leveldb"},
					{max_open_files, 50}
				]},
			{be_blocks, riak_kv_bitcask_backend, [
					{data_root, "/var/lib/riak/bitcask"}
				]}
		]},
		{multi_backend_default, be_default},
		{multi_backend_prefix_list, [
			{<<"0b:">>, be_blocks}
		]},
		{object_format, v1},
		{reduce_js_vm_count, 6},
		{storage_backend, riak_cs_kv_multi_backend},
		{vnode_vclocks, true}
	]},
	{riak_repl, [
		{data_root, "/var/lib/riak/riak_repl"}
	]},
	{riak_search, [
		{enabled, false}
	]},
	{riak_sysmon, [
		{busy_dist_port, true},
		{busy_port, true},
		{gc_ms_limit, 0},
		{heap_word_limit, 40111000},
		{port_limit, 2},
		{process_limit, 30}
	]},
	{sasl, [
		{sasl_error_logger, false}
	]},
	{snmp, [
		{agent, [
			{config, [
				{dir, "/etc/riak/snmp/agent/conf"},
				{force_load, true}
			]},
			{db_dir, "/var/lib/riak/snmp/agent/db"},
			{net_if, [
				{options, [
					{bind_to, true}
				]}
			]}
		]}
	]}
].
