[
	{lager, [
		{crash_log, "/var/log/riak-cs-control/crash.log"},
		{crash_log_count, 5},
		{crash_log_date, "$D0"},
		{crash_log_msg_size, 65536},
		{crash_log_size, 10485760},
		{error_logger_redirect, true},
		{handlers, [
			{lager_file_backend, [
				{"/var/log/riak-cs-control/error.log", error, 10485760, "$D0", 5},
				{"/var/log/riak-cs-control/console.log", info, 10485760, "$D0", 5}
			]}
		]}
	]},
	{riak_cs_control, [
		{cs_admin_key, "###KEY###"},
		{cs_admin_secret, "###SECRET###"},
		{cs_administration_bucket, "riak-cs"},
		{cs_hostname, "s3.amazonaws.com"},
		{cs_port, 80},
		{cs_protocol, "http"},
		{cs_proxy_host, "127.0.0.1"},
		{cs_proxy_port, 8080},
		{port, 8000}
	]},
	{sasl, [
		{sasl_error_logger, false}
	]}
].
