[
	{lager, [
		{crash_log, "/var/log/riak-cs/crash.log"},
		{crash_log_count, 5},
		{crash_log_date, "$D0"},
		{crash_log_msg_size, 65536},
		{crash_log_size, 10485760},
		{error_logger_redirect, true},
		{handlers, [
			{lager_file_backend, [
				{"/var/log/riak-cs/error.log", error, 10485760, "$D0", 5},
				{"/var/log/riak-cs/console.log", info, 10485760, "$D0", 5}
			]}
		]}
	]},
	{riak_cs, [
		{access_archive_period, 3600},
		{access_archiver_max_backlog, 2},
		{access_log_flush_factor, 1},
		{access_log_flush_size, 1000000},
		{admin_key, "###KEY###"},
		{admin_secret, "###SECRET###"},
		{anonymous_user_creation, false},
		{auth_bypass, false},
		{connection_pools, [
			{bucket_list_pool, {5, 0}},
			{request_pool, {128, 0}}
		]},
		{cs_ip, "0.0.0.0"},
		{cs_port, 8080},
		{cs_root_host, "s3.amazonaws.com"},
		{dtrace_support, false},
		{gc_interval, 900},
		{gc_retry_interval, 21600},
		{leeway_seconds, 86400},
		{riak_cs_stat, true},
		{riak_ip, "127.0.0.1"},
		{riak_pb_port, 8087},
		{stanchion_ip, "127.0.0.1"},
		{stanchion_port, 8085},
		{stanchion_ssl, false},
		{storage_archive_period, 86400},
		{storage_schedule, [
		]},
		{usage_request_limit, 744}
	]},
	{sasl, [
		{sasl_error_logger, false},
		{utc_log, true}
	]},
	{webmachine, [
		{log_handlers, [
			{riak_cs_access_log_handler, [
			]},
			{webmachine_log_handler, [
				"/var/log/riak-cs"
			]}
		]},
		{server_name, "Riak CS"}
	]}
].
