[
	{lager, [
		{crash_log, "/var/log/stanchion/crash.log"},
		{crash_log_count, 5},
		{crash_log_date, "$D0"},
		{crash_log_msg_size, 65536},
		{crash_log_size, 10485760},
		{error_logger_redirect, true},
		{handlers, [
			{lager_file_backend, [
				{"/var/log/stanchion/error.log", error, 10485760, "$D0", 5},
				{"/var/log/stanchion/console.log", info, 10485760, "$D0", 5}
			]}
		]}
	]},
	{sasl, [
		{sasl_error_logger, false},
		{utc_log, true}
	]},
	{stanchion, [
		{admin_key, "###KEY###"},
		{admin_secret, "###SECRET###"},
		{auth_bypass, false},
		{riak_ip, "127.0.0.1"},
		{riak_pb_port, 8087},
		{stanchion_ip, "127.0.0.1"},
		{stanchion_port, 8085}
	]}
].
